/* 当屏幕宽度小于600px时应用的样式 */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* 当屏幕宽度在601px到1024px之间时应用的样式 */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }

    .container {
        padding: 20px;
    }
}

/* 当屏幕宽度大于1024px时应用的样式 */
@media (min-width: 1025px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 30px;
    }
}

.nav{
    width: 100%;
    height: 60px;
    background-color:#fff; 
    margin-bottom: 10px;
    position: relative;
}

.top{
    width: 10%;
    height: 60px;
    float: left;
    font-size: large;
    padding-top: 15px;  
    padding-left: 5px; 

}
 .top a:hover{
    color: red;
}
.topx{
    width: 15%;
    height: 60px;
    float: left;
    color:red;
    font-size: xx-large; 
    padding-top: 5px;  
    /* padding-left: 10px;  */

}
.login{
        width: 8%;
        height: 60px;
        float: left;
        font-size: larger;
        padding-top: 15px;  
        position: absolute;
        right: 10px;
        
    }
.login a:hover{
    color: red;
    
}
.reco{
    width: 100%;
    height: 50px;
    margin: 50px 0;
}
.banner{
    width: 70%;
    height:500px ;
    margin: 0 auto;
   
}
.shoes{
    width: 70%;
    height: 500px;
    margin: 0 auto;
}
.shoes img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cloth img{
    width:100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.shoes-container{
    width: 100%;
    height: 1150px;
}
.shoespec{
    width: 100%;
    height: 1250px;
    margin-top: 5px;
}
.spe{
    width: 25%;
    height: 350px;
    float: left;
    margin-bottom: 20px;   
    text-align: center;
}
.spe:hover{
   opacity: 0.7;
}
.spe img{
    width: 98%;
    height: 230px;
    margin: 3px;
    border-radius: 5px;
}
.spe p{
     text-align: center;
}
.spe span{
    width: 25%;
    height: 25px;
    color: red;
    font-size: medium;
}